#mainNav a.navbar-brand {
    white-space: initial;
}
.title-banner {
    text-shadow: 2px 2px 4px #000000;
}
.masthead {
    min-height: 350px;
    height: auto;
    padding-top: 0px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.title-banner {
    color: #fff;
    font-size: 70px !important;
}
.portfolio-item {
    height: 225px;
}
.portfolio-item .caption-content {
    width: 100%;
}
.item-1 {
    background: #096cab url(http://103.21.148.134:8144/) no-repeat 25% 30%;
}
.item-2 {
    background: #082b52 url(http://103.21.148.134:8144/) no-repeat 25% 30%;
}
.item-3 {
    background: #64b8c0 url(http://103.21.148.134:8144/) no-repeat 25% 30%;
}
.item-4 {
    background: #ad820b url(http://103.21.148.134:8144/) no-repeat 25% 30%;
}
.portfolio-item .caption .caption-content {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.caption-content .caption-text {
    text-align: center !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700 !important;
}
.content-section {
    padding-top: 0rem;
    padding-bottom: 1.0rem;
}
.navbar-light .navbar-brand {
    color: #464a4e;
    font-weight: 600;
    font-size: 25px;
}
.manager-center .col-sm-6 {
    padding-top: 10px;
    /*background-color: #b7a65c8c;*/
}

/*Trungtam ql*/
.image-full {
    width: 100%;
}
#footer_ioc {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
/*can bo quan ly*/
.box-epmt .panel-image {
    text-align: left;
    margin-bottom: 20px;
}

.box-epmt .panel-image figure { margin: 0; position: relative; }

.box-epmt .panel-image figure img { max-width: 100%; display: block; position: relative; }

.box-epmt .panel-image figcaption { position: absolute; top: 0; left: 0; padding: 10px; background: #E4F1FE; color: #ed4e6e; }

.box-epmt .panel-image figcaption h3 { margin: 0; padding: 0; color: #2c3f52; }

.box-epmt .panel-image figcaption a { text-align: center; padding: 5px 10px; border-radius: 2px; display: inline-block; background: #ed4e6e; color: #fff; transition: 0.5s; opacity: 0; }

/* Caption Style 3 */
.box-epmt .cs-style-3 figure { overflow: hidden; }

.box-epmt .cs-style-3 figure img { -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s; transition: transform 0.4s; }

.box-epmt .cs-style-3 figure:hover img { /* -webkit-transform: translateY(-50px);
-moz-transform: translateY(-50px);
-ms-transform: translateY(-50px);
transform: translateY(-50px); */ }

.box-epmt .cs-style-3 figcaption { width: 100%; top: auto; bottom: 0; opacity: 0.6; transition: 0.7s; }

.box-epmt .cs-style-3 figure:hover figcaption { opacity: 1; }
.box-epmt .cs-style-3 figure:hover figcaption a { opacity: 1; }

.box-epmt .cs-style-3 figcaption a { position: absolute; bottom: 20px;
    right: 5px;
    font-size: 13px;
}

#giao_vien .box-epmt .cs-style-3 figcaption a {
    position: absolute;
    bottom: 12px;
    right: 5px;
}
.hyper-link {
    font-size: 20px;
}

/*BTT*/
.bg-top-toolbar {
    width: 50px;
    position: fixed;
    left: 10px;
    top: 70px;
}
.list-group > a {
    margin-bottom: 5px;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}
.card {
    display: inline-block;
    margin-right: 9px;
    margin-top: 10px;
    width: 22rem;
    /*max-width: 46%;*/
}
.card-text {
    color: #fff;
}
#portfolio {
    padding-top: 45px;
    padding-bottom: 30px;
}
.cart-ttdh {
    width: 100%;
    max-width: 100%;
}
.title-box-1 h4 {
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    padding-left: 10px;
}
.box-1-content {
    height: 21rem;
    border: solid 1px #999999;
    padding: 15px 30px 15px;
    margin-top: 15px;
}
.box-1-content .tag-hr {
    border-top: 1px solid #999999;
}
/*.address-sukien {*/
    /*font-weight: bold;*/
/*}*/
.box-epmt .box-left {
    padding-right: 1.5rem;
}
.box-epmt .box-right {
    padding-left: 1.5rem;
}
.box-1-content-right {
    /*background: linear-gradient(90deg,rgba(92, 92, 92, 0.55) 0,rgba(101, 100, 100, 0.64) 100%),url(../img/bg-masthead.jpg);*/
    background-image: url('../images/manager/med_oc.png');
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
/*.box-1-content-right:hover {*/
    /*background-image: url('../images/manager/quangninhmap_2.png');*/
/*}*/
.box-epmt .title-box-2 {
    margin-bottom: 15px;
    margin-top: 25px;
}
.fix-bottom-div {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 90px);
}
.box-1-content .subject-alert {
    color: #cc0000;
}
.content-wrning1 {
    color: #000;
}
.slick-item i {
    font-size: 20px;
}
.report-btt {
    display: inline-block;
    float: right;
}
.report-btt .btn-info {
    background: #3f66ab;
}
.report-btt .btn-danger {
    background: #ee4035;
}
.export-btt {
    margin-top: 20px;
}
.export-btt label {
    padding-right: 5px;
}
.export-btt a {
    margin-left: 5px;
}
@media only screen and (max-width: 600px) {
    .box-epmt .box-left {
        padding-right: 0;
    }
    .box-epmt .box-right {
        padding-left: 0;
    }
    .box-1-content-right {
        margin-top: 30px;
    }
    .fix-mobile {
        margin-top: 20px;
    }
}


/*css trang bacsi*/
.container-bs .thumbnail a:hover {
    text-decoration: none;
}
.container-bs .thumbnail {
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
}
.container-bs .row >.col-md-4 {
    margin-top: 20px;
}
.title-box-bs {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding: 24px 32px;

    font-size: 1.5rem;
    font-weight: 400;
    color: #2e3d49;
}
#box-tk-cbql .title-box-cbql {
    padding: 9px 30px;
    font-size: 17px;
}
#box-tk-cbql .thumbnail {
    position: relative;
}
#box-tk-cbql .thumbnail .text-caption {
    position: absolute;
    bottom: 38px;
    right: 10px;
    font-size: 48px;
    color: #edff01;
    font-weight: bold;
    text-shadow: 1px 1px #0c0a2b;
    font-family: 'Helvetica';
}
.box-hoidap {
    border: 1px solid #ddd!important;
}
.box-hoidap .section-title {
    font-size: 16px;
    color: #c20000!important;
    text-decoration: none!important;
    padding-left: 15px!important;
    font-weight: bold!important;
    border-bottom: none!important;
    position: relative!important;
    margin-top: 10px!important;
    padding-right: 15px!important;
    line-height: 1.7!important;
    padding-bottom: 5px!important;
}