
@font-face {
  font-family: 'Roboto_Regular';
  src: url('../fonts/Roboto-Regulard41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')
  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('../fonts/Roboto-Boldd41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')
  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.owl-nav{
  display: none;
}
.slider_bc {
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    position: relative;
    background: #fff;
    height: 230px;
}
.box_bc h3 {
    padding: 9px 30px;
    font-size: 17px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider_bcth {
    position: absolute;
    top: 30px;
    left: 5px;
}
.slider_bcth a p {
    font-size: 18px;
    padding: 30px;
    font-weight: normal;
    color: #096fae;
    line-height: 30px;
    font-weight: bold;
        text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
    margin: 10px 0px;
}
.slider_bcth a p span {
    font-size: 30px;
    padding-right: 10px;
    font-weight: normal;
    color: #096fae;
    font-weight: bold;
}
.mar_20{
  margin-bottom: 20px;
}
.box_bc img {
    width: 100%;
    height: 180px !important;
    object-fit: cover;
}