
p {

    margin: 0px;

}



a {

    text-decoration: none;

    color: #333333;

}



a:hover,

a:focus {

    color: #0d7cd6;

    text-decoration: none;

}



* {

    margin: 0px;

    padding: 0px;

}



ul, ol {

    padding: 0;

    margin: 0;

}



li {

    list-style: none;

}

h1,h2,h3,h4,h5,h6{

    margin: 0;

}



.fixed {

    position: fixed !important;

    top: 0px;

    z-index: 99;

    width: 100%;

}

.clearfix-130{

    clear: both;

    height: 130px;

}

.clearfix-100{

    clear: both;

    height: 100px;

}

.clearfix-80{

    clear: both;

    height: 80px;

}

.clearfix-60{

    clear: both;

    height: 60px;

}

.clearfix-55{

    clear: both;

    height: 55px;

}

.clearfix-50{

    clear: both;

    height: 50px;

}

.clearfix-45{

    clear: both;

    height: 45px;

}

.clearfix-40{

    clear: both;

    height: 40px;

}

.clearfix-35{

    clear: both;

    height: 35px;

}

.clearfix-30{

    clear: both;

    height: 30px;

}

.clearfix-32{

    clear: both;

    height: 32px;

}

.clearfix-25{

    clear: both;

    height: 25px;

}

.clearfix-20{

    clear: both;

    height: 20px;

}

.clearfix-15{

    clear: both;

    height: 15px;

}

.clearfix-12{

    clear: both;

    height: 12px;

}

.clearfix-10{

    clear: both;

    height: 10px;

}

.clearfix-5{

    clear: both;

    height: 5px;

}



body {

    background: #fff;

    font-family: arial;

    color: #000;

}



del {

    font-size: 12px;

    color: #999;

}



/*===========All=============*/

.w_100 {

    width: 100%;

}



.w_40 {

    width: 40%;

}



.w_60 {

    width: 60%;

}

:root{
    --color-text:#096fae;
}

@font-face { 
    font-family: 'OpenSans_Bold'; 
    src: url('../fonts/OpenSans-Boldd41d.html?#iefix') format('embedded-opentype'), 
    url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.html') 
    format('truetype'), url('../fonts/OpenSans-Bold-2.html#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.title-banner {
    text-shadow: 2px 2px 4px #000000;
}
#portfolio .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.masthead {
    min-height: 350px;
    height: auto;
    padding-top: 0px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.title-banner {
    color: #fff;
    font-size: 70px !important;
}
.portfolio-item {
    height: 225px;
}
.portfolio-item .caption-content {
    width: 100%;
}
.item-1 {
    background: #096cab url(../img/h_admin.html) no-repeat 25% 30%;
}
.item-2 {
    background: #082b52 url(../img/h_teacher.html) no-repeat 25% 30%;
}
.item-3 {
    background: #64b8c0 url(../img/h_students.html) no-repeat 25% 30%;
}
.item-4 {
    background: #ad820b url(../img/h_parents.html) no-repeat 25% 30%;
}
.portfolio-item .caption .caption-content {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.caption-content .caption-text {
    text-align: center !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700 !important;
}
.content-section {
    padding-top: 0rem;
    padding-bottom: 1.0rem;
}
.navbar-light .navbar-brand {
    color: #096fae;
    font-weight: 600;
    font-size: 25px;
}
.manager-center .col-sm-6 {
    padding-top: 10px;
    /*background-color: #b7a65c8c;*/
}

/*Trungtam ql*/
.image-full {
    width: 100%;
}
#footer_ioc {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
/*can bo quan ly*/
.box-epmt .panel-image { 
    text-align: left; 
    margin-bottom: 20px;
}

.box-epmt .panel-image figure { margin: 0; position: relative; }

.box-epmt .panel-image figure img { max-width: 100%; display: block; position: relative; }

.box-epmt .panel-image figcaption { position: absolute; top: 0; left: 0; padding: 10px; background: #E4F1FE; color: #ed4e6e; }

.box-epmt .panel-image figcaption h3 { margin: 0; padding: 0; color: #2c3f52; }

.box-epmt .panel-image figcaption a { text-align: center; padding: 5px 10px; border-radius: 2px; display: inline-block; background: #ed4e6e; color: #fff; transition: 0.5s; opacity: 0; }

/* Caption Style 3 */
.box-epmt .cs-style-3 figure { overflow: hidden; }

.box-epmt .cs-style-3 figure img { -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s; transition: transform 0.4s; }

.box-epmt .cs-style-3 figure:hover img { /* -webkit-transform: translateY(-50px);
-moz-transform: translateY(-50px);
-ms-transform: translateY(-50px);
transform: translateY(-50px); */ }

.box-epmt .cs-style-3 figcaption { width: 100%; top: auto; bottom: 0; opacity: 0.6; transition: 0.7s; }

.box-epmt .cs-style-3 figure:hover figcaption { opacity: 1; }
.box-epmt .cs-style-3 figure:hover figcaption a { opacity: 1; }

.box-epmt .cs-style-3 figcaption a { position: absolute; bottom: 20px; 
    right: 5px; 
    font-size: 13px;
}

#giao_vien .box-epmt .cs-style-3 figcaption a { 
    position: absolute; 
    bottom: 12px; 
    right: 5px; 
}
.hyper-link {
font-size: 20px;
}
.txt-logo{ 
    color: #fff; 
    font-size: 20px; 
    font-family: 'arial'; 
    overflow: hidden;

    text-transform: uppercase;

    display: block;

}

.txt-logo h2{

        line-height: 25px;
    font-size: 13px;
    margin-top: 7px;
    letter-spacing: 2px;

}

.txt-logo h3{

   /* margin-top: 7px;*/
    font-size: 30px !important;
}



.menu-main{

    margin-top: 30px;

}

.menu-main ul li a{

    color: #fff;

    font-size: 18px;

    display: block;

    padding: 5px 10px;

}

.menu-main ul li{

    display: inline-block;

}

.header-giaothong{

    padding: 15px 0;
    background: #1f4e79;
    /* background: url(../img/bg_dn_header.png) no-repeat; */

    -webkit-background-size: cover;

    background-size: cover;

    height: 95px;

}

.box_button_head_mid ul li a{ 
    height: 150px; 
}

.img_bannerid{ 
    height: calc(100vh - 95px) !important;

}

.logo_pc img { 
    margin-right: 20px; 
}
.logo_pc img{ 
    float: left; 
}
.logo_pc {  
    margin: 5px 0; 
}
.logo_pc img {
    width: 60px;
}
.logo_pc img { 
    margin-right: 10px; 
    
} 
.duong_dan{
    display: flex;
    list-style: none;
    padding: 0px 10px;
	margin-bottom:10px;
} 
    .duong_dan li{
    display: inline-block;
    margin-right: 10px;

	
    }
    .duong_dan li a {
    font-size: 18px !important;
        color: #096fae;
	font-weight:bold;
}
.duong_dan span{
   font-size: 10px;
	margin-top: 7px;
	margin-right: 5px;
	color: #096fae;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{
            color: #096fae;
        }

.navbar-light .navbar-nav .nav-link{
    color: var(--color-text);
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--color-text);
   
}

.card .card-header{
     color: var(--color-text);
}

.card .card-body a.btn-link{
        color: var(--color-text);
}
body{
    color: var(--color-text);
}

.box-1-content.box-1-content-left .owl-nav{
display: none;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--color-text);
}
.post-desc-wrapper .post-desc .post-title a{
    color: var(--color-text);
}